.layout {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homeContainer {
    position: relative;
    z-index: 2; 
  }