/* layout.module.css */

.containerchild {
  background-image: url('../../assets/back.svg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 80vw;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 30px;
}