/* frontpage.module.css */

.container_front {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tittle,
.subtittle,
.paragraph {
  position: relative;
  z-index: 2;
  text-align: center;
}

.tittle {
  margin-top: 20px;
  font-size: 2em;
  font-style: italic;
  animation: rainbowText 6s infinite, glowText 2s infinite alternate;
  letter-spacing: 5px; /* Añade espacio entre las letras */
  font-weight: normal; /* Elimina la negrita */
}

.tittle {
  margin-top: 20px;
  font-size: 2em;
  font-style: italic;
  animation: rainbowText 6s infinite, glowText 2s infinite alternate;
}

.subtittle {
  margin-top: 10px;
}

.paragraph {
  margin-top: 10px;
  max-width: 700px;
}

/* Nuevos estilos para las habilidades */
.subtittle h3 {
  margin-top: 20px;
}

.skills {
  margin-top: 20px; /* Ajusta la distancia entre el subtítulo y la caja de habilidades */
  padding: 20px; /* Ajusta el espaciado dentro de la caja de habilidades */
  background-color: rgba(138, 58, 190, 0.2); /* Fondo transparente morado */
  border-radius: 10px; /* Borde suave */
  box-shadow: 0px 10px 20px rgba(138, 58, 190, 0.5); /* Sombra morado oscuro */
  display: flex;
  justify-content: center;
}

.skills p {
  margin: 0 10px; /* Ajusta el margen entre las habilidades */
  position: relative;
}

.skills p::after {
  content: '';
  display: block;
  width: 50%; /* Ajusta el tamaño de la línea al 50% del tamaño de la letra */
  height: 1px;
  background-color: lightgray; /* Línea gris claro */
  margin-top: 5px; /* Ajusta la distancia entre el párrafo y la línea */
  position: absolute;
  left: 25%; /* Centra la línea debajo de la letra */
  box-shadow: 0px 10px 20px rgba(178, 165, 183, 0.5); /* Sombra morado oscuro que ilumina hacia abajo */
}


@keyframes glowText {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra blanca tenue */
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra blanca más intensa */
  }
}