.container {
    display: flex;
    margin-top: 30px;
}

.card {
    display: flex;
    border: 1px solid rgba(211, 210, 210, 0.03);
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

.card:hover {
    transform: translateY(-10px);
    background-color: #f0f0f0;
}

.photo {
    width: 500px;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.paragraph {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    gap: 10px;
}

.paragraph button {
    width: 100px;
    border-radius: 20px; /* Bordes curvos */
    background-color: #4caf50; /* Color de fondo del botón (puedes ajustar esto) */
    color: white; /* Color del texto del botón */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

.paragraph button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el ratón por encima */
}
