.contactContainer {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  margin-left: 10px;
}

.sidebar {
  display: flex;
  flex-direction: row; /* Cambia la dirección a horizontal */
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px; /* Agrega un margen derecho entre los iconos */
  transition: transform 0.3s, color 0.3s; /* Añade la transición de color al hacer hover */
}

.sidebar a:hover {
  transform: scale(1.5); /* Aumenta el tamaño al hacer hover */
  color: #ffcc00; /* Cambia el color al hacer hover */
}

.contactContainer:hover {
  box-shadow: 0 0 15px rgba(41, 17, 55, 0.5);
}
