.contactContainer {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: row;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px; 
  transition: transform 0.3s, color 0.3s; 
}

.sidebar a:hover {
  transform: scale(1.5);
  color: #1e022c; 
}