.optionText {
  transition: transform 0.3s;
}

.line {
  display: block;
  height: 2px;
  width: 0;
  background-color: black; /* Color de la línea */
  transition: width 0.3s, transform 0.3s;
}

.options1:hover .optionText {
  transform: translateX(5px); /* Desplaza el texto hacia la derecha al hacer hover */
}

.options1:hover .line {
  width: 100%; /* Aumenta el ancho de la línea al hacer hover */
  transform-origin: left; /* Ajusta el punto de origen para una expansión desde la izquierda */
}