.options {
  list-style-type: none; /* Quitar los puntos de la lista desordenada */
  padding: 0; /* Eliminar el espacio interior predeterminado */
  margin: 0; /* Eliminar el margen exterior predeterminado */
}

.optionText {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #8a2be2; /* Cambiado a lila */
  transition: width 0.3s, transform 0.3s ease-in-out;
}

.options1 {
  position: relative;
  text-decoration: none;
  color: #000; /* Color del texto */
  margin: 0 15px; /* Espaciado entre opciones */
  overflow: hidden; /* Ocultar el desbordamiento */
  display: inline-block;
}

.options1:hover .optionText {
  transform: translateX(5px); /* Desplaza el texto hacia la derecha al hacer hover */
}

.options1:hover .line {
  width: 100%; /* Aumenta el ancho de la línea al hacer hover */
  transform-origin: right; /* Ajusta el punto de origen para una expansión desde la derecha */
}

.options1.active .line {
  width: 130%; /* Aumenta el ancho de la línea en estado activo */
  transform-origin: right; /* Ajusta el punto de origen para una expansión desde la derecha */
}
