.tittle {
    margin-top: 20px;
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin-top: 40px;
    text-align: center; /* Centra el texto horizontalmente */
  }
  